
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.img-div {
    /* Consider adjusting padding/flex if needed after Card integration */
    padding-left: 11rem; 
    flex-grow: 2;
}

.img-div img {
    height: 850px;
    border-radius: 8px;
}
