@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#filter-btn {
  background-color: transparent;
  border: 1px solid #7bf1a8;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 15px 20px;
  font-size: 1.2rem;
}

#filter-btn:hover {
  background-color: #7bf1a8;
  transition-duration: 300ms;
  transition: ease-in-out;
  cursor: pointer;
}